<theHeader></theHeader>
<main>
  <h1>Hello World! in the app.component.html</h1>

  <iframe width="500" height="240" src="https://www.youtube.com/embed/8qbnut5lTYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <button (click) = "popAlert()">pop alert</button>
  <!-- <app-post-create (ceatingPostEvent1) = "transPosts1($event)" (ceatingPostEvent2) = "transPosts2($event)"></app-post-create> -->
  <!-- <post-list [posts1] = "storePosts1" [posts2] = "storePosts2"></post-list> -->
  <app-post-create (ceatingPostEvent1) = "transPosts1($event)" ></app-post-create>
  <post-list [posts1] = "storePosts1" ></post-list>
</main>
